<p id="notice"><%= notice %></p>


<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Locations</strong>
  <ul>
  <% @user.locations.each do |el| %>
  <li><%=el.name%></li>
  <%end%>
  </ul>
</p>

<p>
  <strong>Favorites</strong>
  <ul>
  <% @user.favorites.each do |el| %>
  <li><%=el.name%></li>
  <%end%>
  </ul>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>