  <span style="float-right "><%= link_to 'Logout Here', logout_path(current_user) %></span>
<div class="container">
  <h2>Welcome to Zombie Survival Guide</h2>


  <hr>

      | <%= link_to 'Emergency Map', user_path(current_user) %> |
      <%= link_to 'Favorites', user_favorites_path(current_user) %> |
      <%= link_to 'Items', item_path(current_user) %> |
      <%= link_to 'Locations', user_locations_path(current_user) %> |

  <h4> Are you prepared for a Zombie Apocalypse? </h4>

  <p> You may laugh at the question, but when it happens you’ll be happy you read this, and hey, maybe you’ll even learn a thing or two about how to prepare for a real emergency.</p>
  <br>

  <h4>A Brief History of Zombies</h4>
  <p>We’ve all seen at least one movie about flesh-eating zombies taking over, but where do zombies come from and why do they love eating brains so much? The word zombie comes from Haitian and New Orleans voodoo origins. Although its meaning has changed slightly over the years, it refers to a human corpse mysteriously reanimated to serve the undead. Through ancient voodoo and folk-lore traditions, shows like the Walking Dead were born.</p>
  <br>

  <h4>What can you do to be prepared?</h4>
  <hr>
  <h5>Make a plan!</h5>
  <ol>
    <li>Know what kind of disasters are possible in your area, including the Zombie Apocalypse.</li>

    <li>Set a meetup place for your family, friends, signficant others, and/or roommates/neighbors. (Set a secondary spot in case the first is overrun with the walking dead)</li>

    <li>Plan an evacuation route.</li>

    <li>Make sure you have your emergency contacts down and know where the local hospital, police and fire departments are located.</li>

    <li>If all else fails, Keep Calm and Carry On. Oh! and remember to go for the head.</li>
  </ol>
  <h5>Check list of items!</h5>
  <ol>
    <li>Weapons</li>
    <li>Water</li>
    <li>Food, food, and more food (non-perishable)</li>
    <li>Medications and First Aid</li>
    <li>Tools and Supplies</li>
    <li>Important documents</li>
  </ol>

<hr>
<footer>
  <h5>Disclaimer</h5>
  <p>This site is intended strictly for fun and by no means do we accept any responsibility. However, the general applicaiton of this site can be used for better disaster preparedness.</p>
  <p><small>Source: Kahn, Ali S. "Preparedness 101: Zombie Apocalypse", CDC Blog, 16 May 2011 -- <a href="http://blogs.cdc.gov/publichealthmatters/2011/05/preparedness-101-zombie-apocalypse/" target="_blank">"Preparedness 101: Zombie Apocalypse"</a></small></p>
</footer>
