
<div class="container">
	<div class="row" style="height:170px">
	</div>
	<div class="row" >
		<div class="col-md-6">

			<h1 class="intro_header">Zombie Survival Guide</h1>
			<p class="intro">This app is designed to help you survive a Zombie Apocalypse and ultimately be better prepared for a natural disaster.  Please login or signup to continue.</p>

			<% if @user.errors.any? %>
			<ul class = "text-danger list-unstyled">
				<%  for err in @user.errors.full_messages %>
				<li>
					<%= err%>
				</li>
				<% end %>
			</ul>
			<% end %>


			<p>
				<a href="#" class="btn btn-lg btn-success" data-target="#login-modal" data-toggle="modal" >Login</a>
				<a href="#" class="btn btn-lg btn-warning" data-target="#create-modal" data-toggle="modal" >Sign Up</a>
			</p>
					<p id="forgot"><%= link_to("Forgot password?", controller: 'access', action: 'forgot_password') %></p>
		</div>
	</div>
</div>

<!-- Modal -->
<%= form_tag(login_path) do %>
<div id="login-modal" class="modal fade">
	<div class="modal-dialog login">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Login to Zombie Survival Guide</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<%= label_tag(:email, nil,class: "control-label") %>
					<%= text_field_tag :email, params[:email], class: "form-control" %>

				</div>
				<div class="form-group">

					<%= label_tag(:password,nil, class: "control-label") %>
					<%= password_field_tag(:password, nil, class: "form-control") %>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

				<%= submit_tag("Log In", class: "btn btn-primary") %>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<% end %>

<!-- Modal -->
<%= form_for(@user, url: create_user_path) do |f| %>
<div id="create-modal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Signup for Zombie Survival Guide</h4>




			</div>
			<div id="email" class="modal-body">
				<div class="form-group">
					<%= f.label(:email, class: "control-label") %>
					<%= f.text_field :email, class: "form-control" %>

				</div>
				<div class="form-group">

					<%= f.label(:password, class: "control-label") %>
					<%= f.password_field(:password, class: "form-control") %>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

				<%= f.submit("Sign Up", class: "btn btn-primary") %>
			</div>

		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<% end %>


<script type="text/javascript" src="jquery-2.1.0.js"></script>
<script type="text/javascript" src="bootstrap.min.js"></script>


