
<div class="container">
  <h1>Disaster Preparedness Items</h1>
  <div class="row">
    <% @items.each do |item| %>
    <div class="col-md-4">
      <div class="thumbnail">
        <h5 style="text-align: center; font-size:30px"><%= item.item %></h5>
        <p class="pull-right"><strong>Price:</strong> $<%= item.price %> </p>
       <a class="btn" href="<%= item.url%>">Buy now</a>

       <img class="smallpic" src="<%= item.image %>" width="200" height="200">
        <div class="caption">
          <p><strong>Description:</strong></p>
          <ul>
            <% item.description.split(".").each do |el|%>
            <li><%= el%></li>
            <%end%>
          </ul>

        </div> 

      </div>

    </div>
    <% end %>
  </div>
</div>